.playlist {
  flex: 0.8;
  width: 100%;
  padding-bottom: 100px;
  overflow-y: auto;
  color: #fff;
  background-color: #121212;
}

.playlist__header {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 3em;
  padding-left: 60px;
}

.playlist__header img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.playlist__details {
  display: flex;
  gap: 20px;
}

.playlist__name {
  padding: 0;
  margin: 0;
  font-size: 5em;
}

.playlist__toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 60px;
}

.playlist__toolbar .MuiSvgIcon-root {
  margin-left: 20px;
  color: pink !important;
  font-size: 2em;
  cursor: pointer;
}


.playlist__recommendedToolbar {
  display: grid;
  place-items: center;
}

.playlist__recommendedRefreshBtn {
  width: 96%;
  margin-top: 1.5rem !important;
  padding: 0.75em 1em !important;
  border-radius: 10px !important;
  color: white !important;
  background: #6b0f1a !important;
  font-size: 18px !important;
  letter-spacing: 3px !important;
  transition: all .5s ease-in-out !important;
}

.playlist__recommendedRefreshBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  outline: 2px solid rgb(164, 109, 200);
  color: rgb(164, 109, 200) !important;
}

.playlist__tracks {
  margin-bottom: 3rem;
}