::-webkit-scrollbar {
  width: 0.75em;
  height: 0.5em;
  margin-left: 90px;
}

::-webkit-scrollbar-track {
  background: #966ea3;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #6b0f1a;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #a70d1f;
}

@supports (scrollbar-color: #6b0f1a #966ea3) {
  * {
    scrollbar-color: #6b0f1a #966ea3;
    scrollbar-width: thin;
  }
}

html,
body {
  height: 100%;
}

::placeholder {
  color: black;
}
